body {
    background-color: #d4f1f4;
}

.darkRow {
    background-color: #05445e;
    color: white;
}

.lightRow {
    background-color: #9AB9C3;
}

.removeButton {
    background-color: #D63D66;
    color: white;
}

.addButton{ 
    background-color: #43AC64;
    color: white;
}

.error {
    color: red;
}

.noError {
    display: none;
}

.input-group-prepend, .btn {
    height: calc(2.25rem + 2px);
}